{% extends "layout.html" %}

{% block content %}


<div class="hero-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <span class="subheading mb-2" data-aos="fade-up">Feedback</span>
                <h1 class="heading mb-3" data-aos="fade-up" data-aos-delay="100">Your feedback we make us serve you better!</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="200">Far far away, behind the word mountains, far
                    from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
                    Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            <div class="col-lg-6">
                <div class="img-wrap" data-aos="fade-left">
                    <img src="../static/images/w-logo.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-0">
    <div class="row justify-content-center">
        <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0">
            <div class="section-title mb-5">
                <strong class="subtitle" data-aos="fade-up" data-aos-delay="0">Feedback</strong>
                <h2 class="heading" data-aos="fade-up" data-aos-delay="100">Let's serve you more!</h2>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

